// Контроль z-index
$zi-slideMenu: 1000;
$zi-header: 1010;
//--- VARIABLES ---//
$h-icons-col: rgb(82, 82, 82);
$h-icons-bg-col: rgba(255, 255, 255, 0.45);
$h-small-icons-col: rgb(56, 56, 56);
//-----------------//
