//********************************
// ЗНАЧКИ ПРЕИМУЩЕСТВ В КАТАЛОГЕ
//********************************

    


//********************************
// РАЗМЕРЫ КНОПОК
//********************************

  
  .btn_lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  .btn_md {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .btn_sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }


 
  
//********************************
// Позоционирование иконки
//********************************

.btn_icon-position_left:before {
    position: absolute !important;
    left: 10px;
}

.btn_icon-position_right:before {
    position: absolute !important;
    right: 10px;
}

//********************************
// Параметры иконок
//********************************



